* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}